<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head></head>
  <body>
        <h1 class="mb-4 text-3xl font-bold text-dark sm:text-4xl md:text-[42px]">Product Details</h1>\
          <a href='/products/<%=product.ID%>'><h4 class="mb-3 text-xl font-bold text-dark"><%=product.productTitle %>
          </h4></a>
          <p><%=product.productDescription %></p>
          <p>ราคา: <%=product.productPrice %></p>
  </body>
</html>